.header {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}
.header__item {
  display: flex;
  max-width: 150px;
  width: 100%;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.header__title {
  margin-right: 10px;
}
.header__img {
  height: 20px;
  transform: rotate(90deg);
}
